<div class="modal-header">
    <h4 class="modal-title" id="myModalLabel1">Thông báo </h4>
</div>

<div class="modal-body" tabindex="0" ngbAutofocus>
    <section id="basic-horizontal-layouts">
        <div class="row match-height">

            <div class="card" style="width: 100%;">
                <div class="card-body">
                    <form class="form form-horizontal">
                        <div class="row">

                            <div class="col-12">
                                <div class="form-group row">
                                    <!--                                    <div class="col-sm-5 col-form-label">-->
                                    <!--                                        <label>KEYRECOVER</label>-->
                                    <!--                                    </div>-->
                                    <div class="col-sm-12 col-form-label">
                                        <p><b>{{data}}</b></p>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="modal-footer" style="text-align: right;">
    <button type="button" class="btn btn-secondary" (click)="toggleSidebar()" rippleEffect>
        Thoát
    </button>
</div>
